@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font: "Rubik", sans-serif;
    --main-dark: rgb(214, 214, 214);
    --list-item-hover: rgb(202, 202, 202);
    --list-item-active: rgb(255, 137, 40);
}