@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font: "Rubik", sans-serif;
    --main-dark: rgb(52, 52, 58);
    --list-item-hover: rgb(92, 92, 102);
    --list-item-active: rgb(255, 137, 40);
}